.cabecalho{
   background-color: var(--cores-princiapais-azul);
   display: flex;
   justify-content: space-between;
}
.cabecalho__coluna__texto{
    display: flex;
    flex-direction: column;
    margin-top: 4.75em;
    margin-left: 9em;
}
.cabecalho__logo{
    padding-bottom: 8em;
}
.cabecalho__titulo{
    font-family: var(--font-principal);
    font-weight: 400;
    font-style: normal;
    font-size: 4.5rem;
    padding-bottom: 0.2em;
}
.cabecalho__texto{
    font-family: var(--font-principal);
    font-weight: 400;
    font-style: normal;
    font-size: 2.25rem;
    margin-bottom: 4em;
}
.cabecalho__img{
    align-self: self-end;
    width: 34vw;
}
